<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta content="width=300, initial-scale=1" name="viewport">

        <link href="../../css/login.css" rel="stylesheet">
        <title>Login Nacc</title>

    </head>
    <body>
        <form class="menuLogin">
            <div class="card signin-card clearfix">
                <div id="cc_iframe_parent"></div>
                <img class="profile-img" src="../../img/logotipo.png">
                <p class="profile-name"></p>

                <label  class="hidden-label" for="Email">E-mail</label>
                <input  id="Email" name="Email" type="email" placeholder=" E-mail" value="" spellcheck="false" class="">

                <label  class="hidden-label" for="Passwd">Senha</label>
                <input  id="Passwd" name="Passwd" type="password" placeholder=" Senha"  class="">
                <input id="signIn" name="signIn" class="rc-button rc-button-submit" type="submit" value="Fazer login">
            </div>
        </form>
    </body>
</html>