<form name="formMotivo" novalidate ng-init="init()">
    <div class="container-fluid formulario" style="margin-top: 30px;">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro de Motivo<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <h4>Descrição</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <div class="form-group" ng-class="{ 'has-error'  : formMotivo.descricao.$invalid && !formMotivo.descricao.$pristine}">
                                <input type="text" name="descricao" placeholder="Informe a Descrição" class="form-control" aria-describedby="basic-addon2" ng-model="motivo.descricao" ng-minlength="3" ng-maxlength="45" required/>                        
                                <p ng-show="formMotivo.descricao.$error.minlength" class="help-block">Descrição no mínimo 3 caracteres.</p>
                                <p ng-show="formMotivo.descricao.$error.maxlength" class="help-block">Descrição no máximo 45 caracteres.</p>
                            </div> 
                        </div>	
                    </div>
                </div>

                <div class="row">	
                    <div class="col-md-9">
                        <div class="col-md-offset-7 pull-right">
                            <a type="button" href="#/AtendimentoDeixarOCurso/Motivo/list" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>
                            <button type="submit" ng-click="salvar()" ng-disabled="(formMotivo.$invalid && !editando)" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                        </div>
                    </div>	
                </div>	
            </div>
        </div>    
    </div>    
</form>