<form name="formMotivo" novalidate ng-init="init()" >
    <div class="container-fluid formulario" ng-init="init()">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Lista de Motivo<span class="glyphicon glyphicon-th-list pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="#/AtendimentoDeixarOCurso/Motivo/form/" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Adicionar novo usuário">Adicionar Novo</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="nome" ng-change="listar()" placeholder="Informe o dado a ser pesquisado" class="form-control" ng-model="pesquisa" ng-maxlength="100" />                        
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th ng-click="alterarOrdenacao('descricao')" class="col-md-10">Descrição</th>
                                        <th ng-click="alterarOrdenacao('status')" class="col-md-1">Ação</th>
                                        <th class="col-md-1">Opção</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="m in motivos">
                                        <td>{{m.descricao}}</td>
                                        <td>
                                            <button type="button" class="btn btn-success botaoAlterarStatus" ng-show="m.status === 'INATIVO'" ng-click="alterarStatus(m)">Ativar</button>
                                            <button type="button" class="btn btn-danger botaoAlterarStatus" ng-show="m.status === 'ATIVO'" ng-click="alterarStatus(m)">Inativar</button>
                                        </td>
                                        <td>
                                            <span>
                                                <a href="#/AtendimentoDeixarOCurso/Motivo/form/{{m.id}}" type="button" class="tooltip, btn btn-warning botaoEditar" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <div class="col-md-offset-6">
                            <nav>
                                <ul class="pagination" id="paginacao">
                                    <li>
                                        <a href="" ng-click="alterarPagina(paginaAtual - 1)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="alterarPagina(paginaAtual + 1)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>    