<form name="formPreventivo" novalidate ng-init="init()" >
    <div class="container-fluid formulario" style="margin-top: 30px;">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro de Motivo(Preventivo)<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <h4>Descrição</h4>
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <div class="form-group" ng-class="{ 'has-error'  : formPreventivo.descricao.$invalid && !formPreventivo.descricao.$pristine}">
                                <input type="text" name="descricao" placeholder="Informe a descrição do motivo(preventivo)" class="form-control" aria-describedby="basic-addon2" ng-model="preventivo.descricao" ng-minlength="2" ng-maxlength="60" required/>                        
                                <p ng-show="formPreventivo.descricao.$error.minlength" class="help-block">Descrição no mínimo 2 caracteres.</p>
                                <p ng-show="formPreventivo.descricao.$error.maxlength" class="help-block">Descrição no máximo 60 caracteres.</p>
                            </div>
                        </div>	
                    </div>
                </div>                                                
            </div>

            <div class="row">	
                <div class="col-md-9">
                    <div class="col-md-offset-7 pull-right">
                        <a type="button" href="#/AtendimentoPreventivo/Motivo/list" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>

                        <button type="submit" ng-click="salvar()" ng-disabled="(formPreventivo.$invalid && !editando)" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                    </div>
                </div>	
            </div>	
        </div>
    </div>
</form>
