<form name="formUsuario" novalidate ng-init="init()" >
    <div class="container-fluid formulario" style="margin-top: 30px;">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro de Usuário<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <h4>Nome Completo</h4>
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <div class="form-group" ng-class="{ 'has-error'  : formUsuario.nome.$invalid && !formUsuario.nome.$pristine}">
                                <input type="text" name="nome" placeholder="Informe o Nome" class="form-control" aria-describedby="basic-addon2" ng-model="usuario.nome" ng-minlength="2" ng-maxlength="60" required/>                        
                                <p ng-show="formUsuario.nome.$error.minlength" class="help-block">Nome no mínimo 2 caracteres.</p>
                                <p ng-show="formUsuario.nome.$error.maxlength" class="help-block">Nome no máximo 60 caracteres.</p>
                            </div>
                        </div>	
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <h4>Email</h4>
                        </div>	
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <div class="form-group" ng-class="{ 'has-error' : formUsuario.email.$invalid && !formUsuario.email.$pristine }">
                                <input type="email" name="email" placeholder="Informe o Email" class="form-control" ng-model="usuario.email" required>
                                <p ng-show="formUsuario.email.$invalid && !formUsuario.email.$pristine" class="help-block">Informe um e-mail válido.</p>
                            </div>
                        </div>	
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <h4>Login</h4>
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <div class="form-group" ng-class="{ 'has-error' : formUsuario.login.$invalid && !formUsuario.login.$pristine }">
                                <input type="text" name="login" placeholder="Informe o Login" class="form-control" ng-model="usuario.login" ng-minlength="3" ng-maxlength="20" required>
                                <p ng-show="formUsuario.login.$error.minlength" class="help-block">Login no mínimo 3 caracteres.</p>
                                <p ng-show="formUsuario.login.$error.maxlength" class="help-block">Login no máximo 20 caracteres.</p>
                            </div>

                        </div>	
                    </div>
                </div>

                <div ng-show="!editando">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-offset-4">
                                <h4>Senha</h4>
                            </div>	
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-offset-4">
                                <div class="form-group" ng-class="{ 'has-error' : formUsuario.senhaCadastro.$invalid && !formUsuario.senhaCadastro.$pristine && formUsuario.senhaCadastro.$dirty }">
                                    <input type="password" name="senhaCadastro" placeholder="Informe a Senha" class="form-control" aria-describedby="basic-addon2" ng-model="usuario.senha" ng-minlength="6" ng-maxlength="10" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$_%])/" required/>                        
                                    <p ng-show="formUsuario.senhaCadastro.$error.minlength" class="help-block">Senha no mínimo 6 caracteres.</p>
                                    <p ng-show="formUsuario.senhaCadastro.$error.maxlength" class="help-block">Senha no máximo 10 caracteres.</p>
                                    <p ng-show="formUsuario.senhaCadastro.$error.pattern" class="help-block">A senha deve conter letras maiúsculas, minúsculas, números e caracteres especiais (!@#$).</p>
                                </div>
                            </div>	
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-offset-4">
                                <h4>Confirmar Senha</h4>
                            </div>	
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-offset-4">
                                <div class="form-group" ng-class="{ 'has-error' : formUsuario.confirmarCadastro.$invalid && !formUsuario.confirmarCadastro.$pristine}">
                                    <input type="password" name="confirmarCadastro" placeholder="Informe a Senha Novamente" class="form-control" aria-describedby="basic-addon2" ng-model="usuario.confirmar" ng-minlength="6" ng-maxlength="10" />                        
                                    <p ng-show="formUsuario.confirmarCadastro.$error.minlength" class="help-block">Senha no mínimo 6 caracteres.</p>
                                    <p ng-show="formUsuario.confirmarCadastro.$error.maxlength" class="help-block">Senha no máximo 10 caracteres.</p>
                                    <p ng-show="usuario.confirmarCadastro != usuario.senhaCadastro" class="help-block">Senhas devem ser iguais.</p>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">	
                <div class="col-md-9">
                    <div class="col-md-offset-7 pull-right">
                        <a type="button" href="#/Usuario/list" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>
                        <button data-toggle="modal" data-target="#myModal" type="submit" ng-click="iniciarAlteracaoSenha()" ng-show="editando" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Alterar senha do usuário" >Alterar Senha</button>
                        <button type="submit" ng-click="salvar()" ng-disabled="(formUsuario.$invalid && !editando)" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                    </div>
                </div>	
            </div>	
        </div>
    </div>
</form>

<form name="modalUsuario" novalidate ng-init="init()">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Alterar Senha do(a) {{usuarioAlterandoSenha.nome}}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="col-md-offset-4">
                                    <h4>Senha</h4>
                                </div>	
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="col-md-offset-4">
                                    <div class="form-group" ng-class="{ 'has-error' : modalUsuario.senha.$invalid && !modalUsuario.senha.$pristine && modalUsuario.senha.$dirty }">
                                        <input type="password" name="senha" placeholder="Informe a Senha" class="form-control" aria-describedby="basic-addon2" ng-model="usuarioCommandEditarSenha.senha" ng-minlength="6" ng-maxlength="10" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$_%])/" required/>                        
                                        <p ng-show="modalUsuario.senha.$error.minlength" class="help-block">Senha no mínimo 6 caracteres.</p>
                                        <p ng-show="modalUsuario.senha.$error.maxlength" class="help-block">Senha no máximo 10 caracteres.</p>
                                        <p ng-show="modalUsuario.senha.$error.pattern" class="help-block">A senha deve conter letras maiúsculas, minúsculas, números e caracteres especiais (!@#$).</p>
                                    </div>
                                </div>	
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="col-md-offset-4">
                                    <h4>Confirmar Senha</h4>
                                </div>	
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="col-md-offset-4">
                                    <div class="form-group" ng-class="{ 'has-error' : modalUsuario.confirmar.$invalid && !modalUsuario.confirmar.$pristine}">
                                        <input type="password" name="confirmar" placeholder="Informe a Senha Novamente" class="form-control" aria-describedby="basic-addon2" ng-model="usuarioCommandEditarSenha.confirmar" ng-minlength="6" ng-maxlength="10" />                        
                                        <p ng-show="modalUsuario.confirmar.$error.minlength" class="help-block">Senha no mínimo 6 caracteres.</p>
                                        <p ng-show="modalUsuario.confirmar.$error.maxlength" class="help-block">Senha no máximo 10 caracteres.</p>
                                        <p ng-show="usuarioCommandEditarSenha.confirmar != usuarioCommandEditarSenha.senha" class="help-block">Senhas devem ser iguais.</p>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="(modalUsuario.$invalid)" ng-click="alterarSenha()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>