<div class="container-fluid formulario" ng-init="init()">
    <div class="panel panel-info">
        <div class="panel-heading"><h3>Lista de Usuário<span class="glyphicon glyphicon-th-list pull-right" aria-hidden="true"></span></h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-offset-1 pull-right">
                        <a href="#/Usuario/form" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Adicionar novo usuário">Adicionar Novo</a>
                    </div>
                </div>
            </div>
            <div class="row Pesquisa">
                <div class="col-md-11">
                    <div class="col-md-offset-1">
                        <div class="form-group">
                            <input type="text" name="nome" ng-change="listar()" placeholder="Informe o dado a ser pesquisado" class="form-control" ng-model="pesquisa" ng-maxlength="100" />                        
                        </div>
                    </div>	
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-offset-1">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-5">Nome</th>
                                    <th class="col-md-2">Login</th>
                                    <th class="col-md-3">Email</th>
                                    <th class="col-md-2">Ação</th>
                                    <th class="col-md-1">Opção</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="u in usuarios">
                                    <td>{{u.nome}}</td>
                                    <td>{{u.login}}</td>
                                    <td>{{u.email}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success botaoAlterarStatus" ng-show="u.status === 'INATIVO'" ng-click="alterarStatus(u)">Ativar</button>
                                        <button type="button" class="btn btn-danger botaoAlterarStatus" ng-show="u.status === 'ATIVO'" ng-click="alterarStatus(u)">Inativar</button>
                                    </td>
                                    <td><a data-toggle="modal" data-target="#myModal" type="button" class="tooltip, btn btn-primary botaoEditar" title="Alterar senha"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Alterar Senha</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div ng-show="!editando">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="col-md-offset-4">
                                                            <h4>Senha</h4>
                                                        </div>	
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="col-md-offset-4">
                                                            <div class="form-group" ng-class="{ 'has-error' : formUsuario.senha.$invalid && !formUsuario.senha.$pristine && formUsuario.senha.$dirty }">
                                                                <input type="password" name="senha" placeholder="Informe a Senha" class="form-control" aria-describedby="basic-addon2" ng-model="usuario.senha" ng-minlength="6" ng-maxlength="10" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$_%])/" required/>                        
                                                                <p ng-show="formUsuario.senha.$error.minlength" class="help-block">Senha no mínimo 6 caracteres.</p>
                                                                <p ng-show="formUsuario.senha.$error.maxlength" class="help-block">Senha no máximo 10 caracteres.</p>
                                                                <p ng-show="formUsuario.senha.$error.pattern" class="help-block">A senha deve conter letras maiúsculas, minúsculas, números e caracteres especiais (!@#$).</p>
                                                            </div>
                                                        </div>	
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="col-md-offset-4">
                                                            <h4>Confirmar Senha</h4>
                                                        </div>	
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="col-md-offset-4">
                                                            <div class="form-group" ng-class="{ 'has-error' : formUsuario.confirmar.$invalid && !formUsuario.confirmar.$pristine}">
                                                                <input type="password" name="confirmar" placeholder="Informe a Senha Novamente" class="form-control" aria-describedby="basic-addon2" ng-model="usuario.confirmar" ng-minlength="6" ng-maxlength="10" />                        
                                                                <p ng-show="formUsuario.confirmar.$error.minlength" class="help-block">Senha no mínimo 6 caracteres.</p>
                                                                <p ng-show="formUsuario.confirmar.$error.maxlength" class="help-block">Senha no máximo 10 caracteres.</p>
                                                                <p ng-show="usuario.confirmar != usuario.senha" class="help-block">Senhas devem ser iguais.</p>
                                                            </div>
                                                        </div>	
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                                            <button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <td><a href="#/Usuario/form/{{u.id}}" type="button" class="tooltip, btn btn-warning botaoEditar" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div> 
                </div> 
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-offset-6">
                        <nav>
                            <ul class="pagination" id="paginacao">
                                <li>
                                    <a href="" ng-click="alterarPagina(paginaAtual - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="alterarPagina(paginaAtual + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>