<div class="container">
    <div>
        <div class="row col-md-12">
            <h2>Lista de Usuário</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="col-md-offset-7 pull-right">
                <a href="#/Usuario/novo" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Adicionar novo usuário">Adicionar Novo</a>
            </div>
        </div>
    </div>
    <div class="row Pesquisa">
        <div class="col-md-9">
            <div class="col-md-offset-4">
                <div class="form-group">
                    <input type="text" name="nome" placeholder="Informe o dado a ser pesquisado" class="form-control" aria-describedby="basic-addon2" ng-model="usuario.nome" ng-minlength="2" ng-maxlength="30" />                        
                </div>
            </div>	
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="col-md-offset-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-6">Nome</th>
                            <th class="col-md-4">Login</th>
                            <th class="col-md-6">Email</th>
                            <th class="col-md-1">Status</th>
                            <th class="col-md-1">Opção</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in usuarios">
                            <td>{{u.nome}}</td>
                            <td>{{u.login}}</td>
                            <td>{{u.email}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-block" ng-show="!u.ativo" ng-click="alterarStatus(u)">Ativar</button>
                                <button type="button" class="btn btn-danger" ng-show="u.ativo" ng-click="alterarStatus(u)">Inativar</button>
                            </td>
                            <td><a href="#/Usuario/lista" type="button" class="btn btn-warning">Editar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div> 
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-offset-5">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>