<form name="formRelatorioAcademico" class="col-md-10 col-sm-10 col-lg-10 col-xs-10 pull-right" novalidate ng-init="init()">
    <div class="formulario">
        <div class="row titulo">
            <h2>Dados Aluno</h2>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-target="#demo1">

                <div class="form-inline">
                    <div class="form-group">
                        <label class="academico"><h3>RA:</h3></label>    
                    </div>
                    <div class="form-group">
                        <input type="text" name="ra" ng-class="{ 'has-error'  : formRelatorioAcademico.ra.$invalid && !formRelatorioAcademico.ra.$pristine}" class="form-control" ng-model="relatorioAcademico.ra" ng-keyup="carregarAluno(relatorioAcademico.ra)" maxlength="8" required>
                    </div>
                </div>
            </div>
            <div class="form-group formulario">
                <img src="https://s3-sa-east-1.amazonaws.com/medias.ciranda.me/profiles/215/images/215_9e4aa1ed1aca22d514ce0cc0c65b8931f4bf25a6.jpg" alt="..." class="img-circle col-md-2">
                <div class="col-md-6">
                    <label>Nome:</label> 
                    <span>{{relatorioAcademico.nomeAluno}}</span>
                </div>
                <div class="col-md-5">
                    <label>Curso:</label>
                    <span>{{relatorioAcademico.curso}}</span>
                </div>
                <div class="col-md-2">
                    <label>Centro:</label>
                    <span>{{relatorioAcademico.centro}}</span>
                </div>
                <div class="col-md-1">
                    <label>Série:</label>
                    <span>{{relatorioAcademico.serieSemestre}}</span>
                </div>
                <div class="col-md-2">
                    <label>Turno:</label>
                    <span>{{relatorioAcademico.turno}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <label>Bolsa:</label>
                    <span>{{relatorioAcademico.bolsaFinanciamento}}</span>
                </div>
                <div class="col-md-2">
                    <label>Reprovações:</label>
                    <span>{{relatorioAcademico.numeroReprovacoes}}</span>
                </div>
                <div class="col-md-2">
                    <label>Matriculado:</label>
                    <span>{{relatorioAcademico.matriculado}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 formulario">
                    <h2>Relatórios</h2>
                </div>
            </div>
            <div class="row form-group">
                <div class="btn-group-justified col-md-12 form-group formulario">
                    <div class="btn-group col-md-2" role="group">
                        <div class="col-md-4">
                            <button type="buttton" ng-click="" class="btn btn-info" data-toggle="tooltip" data-placement="bottom">Médias e Faltas</button>
                        </div>
                        <div class="col-md-4">
                            <button type="buttton" ng-click="" class="btn btn-info" data-toggle="tooltip" data-placement="bottom">Histórico Geral</button>
                        </div>
                        <div class="col-md-4">
                            <button type="buttton" ng-click="" class="btn btn-info" data-toggle="tooltip" data-placement="bottom">Nada Consta</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info timelineTeste">
                <div class="panel-heading" data-target="#demo1">
                    <div class="form-inline">
                        <center>
                            <div class="form-group">
                                <div class="timeline">
                                    <article class="panel panel-danger panel-outline">
                                        <div class="panel-heading icon">
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </div>
                                    </article>
                                </div>
                            </div>   
                            <div class="form-group">
                                <div class="timeline">
                                    <article class="panel panel-default panel-outline">
                                        <div class="panel-heading icon">
                                            <i class="glyphicon glyphicon-picture"></i>
                                        </div>
                                    </article>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="timeline">
                                    <article class="panel panel-success panel-outline">
                                        <div class="panel-heading icon">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="timeline">
                                    <article class="panel panel-primary panel-outline">
                                        <div class="panel-heading icon">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </center>
                    </div>    
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Timeline -->
                    <div ng-show="itensTimeline.length > 0" class="timeline">
                        <!-- Line component -->
                        <div class="line text-muted"></div>

                        <div ng-repeat="item in itensTimeline" style="padding-right: 20px">
                            <!-- Separator -->
                            <div class="separator text-muted" >
                                <time>{{timestampToData(item.data)}}</time>
                            </div>
                            <!-- /Separator -->

                            <article class="panel {{propriedadesItens[item.nomedoatendimento].cor}}">

                                <!-- Icon -->
                                <div class="panel-heading icon">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </div>
                                <!-- /Icon -->

                                <!-- Heading -->
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{item.nomedoatendimento}}</h2>
                                </div>
                                <!-- /Heading -->

                                <!-- Body -->
                                <div class="panel-body">
                                    <div class="{{propriedadesItens[item.nomedoatendimento].cor}}">Atendente Responsável</div>
                                    <small>{{item.nome}}</small>
                                </div>

                                <!-- /Body -->

                                <!-- Body -->
                                <div class="panel-body">
                                    <small>Motivo: {{item.motivo}}</small>
                                </div>
                                <!-- /Body -->

                                <!-- Footer -->
                                <div class="panel-body">
                                    <small>Descrição Atendimento: {{item.descricao}}</small>
                                </div>
                                <!-- /Footer -->
                            </article>
                        </div>
                    </div>
                    <!-- /Timeline -->
                </div>
            </div>
        </div>
    </div>
</div>
</form>