<form name="formRelatorioAcademico" class="col-md-10 col-sm-10 col-lg-10 col-xs-10 pull-right" novalidate ng-init="init()">
    <div class="panel panel-info timelineTeste">
        <div class="panel-heading" data-target="#demo1">
            <center>
                <div class="row" style="height: 58px">
                    <div class="form-group col-xs-2 col-md-4">
                        <input type="text" name="ra" ng-class="{ 'has-error'  : formRelatorioAcademico.ra.$invalid && !formRelatorioAcademico.ra.$pristine}" class="form-control" ng-model="relatorioAcademico.ra" ng-keyup="carregarAluno(relatorioAcademico.ra)" maxlength="8" required>
                    </div>
                    
                    <div class="form-group col-xs-2 col-md-1">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-3x fa-inverse"></i>
                        </span>
                    </div> 
                    <div class="form-group col-xs-2 col-md-1">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-3x fa-inverse"></i>
                        </span>
                    </div> 
                    <div class="form-group col-xs-2 col-md-1">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-3x fa-inverse"></i>
                        </span>
                    </div> 
                    <div class="form-group col-xs-2 col-md-1">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-3x fa-inverse"></i>
                        </span>
                    </div> 
                    <div class="form-group col-xs-2 col-md-4">
                    </div>    
                </div>    
            </center>
        </div>    
    </div>
    <div class="row" style="overflow-y: auto; max-height: 1000px">
        <div class="col-md-12">
            <!-- Timeline -->
            <div ng-show="itensTimeline.length > 0" class="timeline">
                <!-- Line component -->
                <div class="line text-muted"></div>

                <div ng-repeat="item in itensTimeline" style="padding-right: 20px">
                    <!-- Separator -->
                    <div class="separator text-muted" >
                        <time>{{timestampToData(item.data)}}</time>
                    </div>
                    <!-- /Separator -->

                    <article class="panel {{propriedadesItens[item.nomedoatendimento].cor}}">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                        <!-- /Icon -->

                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title">{{item.nomedoatendimento}}</h2>
                        </div>
                        <!-- /Heading -->

                        <!-- Body -->
                        <div class="panel-body" style="font-size: 18px">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Atendente Responsável</label>
                                </div>
                                <div class="form-group col-md-8">
                                    <small>{{item.nome}}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Motivo</label>
                                </div>
                                <div class="form-group col-md-8">
                                    <small> {{item.motivo}}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <b>Descrição Atendimento</b>
                                </div>
                                <div class="form-group col-md-8">
                                    <small>{{item.descricao}}</small>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</form>