<form name="formAtendimentoEspecial" class="col-md-10 col-sm-10 col-lg-10 col-xs-10 pull-right" novalidate ng-init="init()" >
    <div class="formulario">
        <div class="row titulo">
            <h2>Cadastro de Atendimento Especial</h2>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#demo"><h3>Dados Básicos<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></h3></div>
            <div id="demo" class="panel-body collapse in">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>
                            <h4>Protocolo</h4>
                        </label>
                        <input type="text" name="protocolo" class="form-control" ng-model="atendimentoEspecial.protocolo">
                    </div>
                    <div class="col-md-3" >
                        <label>
                            <h4>Data</h4>
                        </label>
                        <div class="datepicker" date-format="dd/MM/yyyy">
                            <input type="text" class="form-control angular-datepicker-input" ng-model="dataEspecial"/>
                        </div>                        
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Hora</h4>
                        </label>
                        <input class="form-control" size="5" ng-model="horaEspecial" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" type="text">                        
                    </div>
                </div>
            </div>
            <div class="panel-heading"  data-toggle="collapse" data-target="#demo1"><h3>Dados do Aluno<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3></div>
            <div id="demo1" class="panel-body collapse in"> 
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>
                            <h4>Ra</h4>
                        </label>
                        <input type="text" name="ra" ng-class="{ 'has-error'  : formAtendimentoEspecial.ra.$invalid && !formAtendimentoEspecial.ra.$pristine}" class="form-control" ng-model="atendimentoEspecial.ra" ng-keyup="carregarAluno(atendimentoEspecial.ra)" maxlength="8" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12" >
                        <label>
                            <h4>Aluno</h4>
                        </label>
                        <div class="form-group" ng-class="{ 'has-error'  : formAtendimentoEspecial.nomeAluno.$invalid && !formAtendimentoEspecial.nomeAluno.$pristine}">
                            <input type="text" name="nomeAluno" placeholder="Informe o nome do aluno" class="form-control" ng-model="atendimentoEspecial.nomeAluno" ng-minlength="2" ng-maxlength="79"  maxlength="80" required>
                            <p ng-show="formAtendimentoEspecial.nomeAluno.$error.minlength" class="help-block">Nome no mínimo 2 caracteres.</p>
                            <p ng-show="formAtendimentoEspecial.nomeAluno.$error.maxlength" class="help-block">Nome no máximo 80 caracteres.</p>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Curso</h4>
                        </label>
                        <input type="text" name="curso" ng-class="{ 'has-error'  : formAtendimentoEspecial.curso.$invalid && !formAtendimentoEspecial.curso.$pristine}" placeholder="Informe o curso do aluno" class="form-control" ng-model="atendimentoEspecial.curso" required>
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Centro</h4>
                        </label>
                        <input type="text" name="centro" ng-class="{ 'has-error'  : formAtendimentoEspecial.centro.$invalid && !formAtendimentoEspecial.centro.$pristine}" placeholder="Informe o centro" class="form-control" ng-model="atendimentoEspecial.centro" required>
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Série</h4>
                        </label>
                        <div class="form-group">
                            <select class="form-control" name="serieSemestre" ng-class="{ 'has-error'  : formAtendimentoEspecial.serieSemestre.$invalid && !formAtendimentoEspecial.serieSemestre.$pristine}" id="sel1"  ng-model="atendimentoEspecial.serieSemestre" required> 
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Turno</h4>
                        </label>
                        <div class="form-group">
                            <select class="form-control" name="turno" ng-class="{ 'has-error'  : formAtendimentoEspecial.turno.$invalid && !formAtendimentoEspecial.turno.$pristine}" id="sel1" ng-model="atendimentoEspecial.turno" required>
                                <option>Matutino</option>
                                <option>Noturno</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Bolsa</h4>
                        </label>
                        <input type="text" name="bolsaFinanciamento" ng-class="{ 'has-error'  : formAtendimentoEspecial.bolsaFinanciamento.$invalid && !formAtendimentoEspecial.bolsaFinanciamento.$pristine}" placeholder="Informe se o aluno possui bolsa" class="form-control" ng-model="atendimentoEspecial.bolsaFinanciamento" required>
                    </div>                    
                    <div class="col-md-2">
                        <label>
                            <h4>Matriculado</h4>
                        </label>
                    <div class="form-group">
                            <select class="form-control" name="matriculado" ng-class="{ 'has-error'  : formAtendimentoEspecial.matriculado.$invalid && !formAtendimentoEspecial.matriculado.$pristine}" id="sel1" ng-model="matriculadoSelecionado" ng-change="setMatriculado(matriculadoSelecionado)" required>
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                    </div></div>
                        <div class="col-md-2">
                            <label>
                                <h4>Laudo Médico</h4>
                            </label>
                        <div class="form-group">
                            <select class="form-control" name="laudoMedico" ng-class="{ 'has-error'  : formAtendimentoEspecial.laudoMedico.$invalid && !formAtendimentoEspecial.laudoMedico.$pristine}" id="sel1" ng-model="laudoMedicoSelecionado" ng-change="setLaudoMedico(laudoMedicoSelecionado)" required>
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div></div>
                    </div>
               
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>
                            <h4>Solicitação</h4>
                        </label>
                        <div ng-dropdown-multiselect="" options="example13data" selected-model="example13model" extra-settings="example13settings"></div>
                        <!--<input type="text" name="solicitacao" ng-class="{ 'has-error'  : formAtendimentoEspecial.solicitacao.$invalid && !formAtendimentoEspecial.solicitacao.$pristine}" placeholder="Solicitação" class="form-control" ng-model="atendimentoEspecial.solicitacao" required>-->
                    </div>
                </div>
            </div>

            <div class="panel-heading" data-toggle="collapse" data-target="#demo3"><h3>Dados do Atendimento<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></h3></div>
            <div id="demo3" class="panel-body collapse in"> 
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Encaminhado para</h4>
                        </label>
                        <input type="text" name="encaminhadoPara" ng-class="{ 'has-error'  : formAtendimentoEspecial.encaminhadoPara.$invalid && !formAtendimentoEspecial.encaminhadoPara.$pristine}" placeholder="Informe para onde será encaminhado" class="form-control" ng-model="atendimentoEspecial.encaminhadoPara" required>
                    </div>
                    <div class="col-md-6">
                        <label>
                            <h4>Motivo</h4>
                        </label>
                        <div class="form-group opcao">
                            <select class="form-control" id="sel1" name="motivo" ng-class="{ 'has-error'  : formAtendimentoEspecial.motivo.$invalid && !formAtendimentoEspecial.motivo.$pristine}" ng-change="setMotivo(motivoSelecionado)" ng-model="motivoSelecionado" ng-options="m.descricao for m in motivos" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>
                            <h4>Descrição resumida</h4>
                        </label>
                        <textarea class="form-control" name="descricaoPublica" ng-class="{ 'has-error'  : formAtendimentoEspecial.descricaoPublica.$invalid && !formAtendimentoEspecial.descricaoPublica.$pristine}" rows="5" id="comment" ng-model="atendimentoEspecial.descricaoPublica" required></textarea>
                    </div>
                </div>  
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>
                            <h4>Descrição detalhada</h4>
                        </label>
                        <textarea class="form-control" name="descricaoDetalhada" ng-class="{ 'has-error'  : formAtendimentoEspecial.descricaoPrivada.$invalid && !formAtendimentoEspecial.descricaoPrivada.$pristine}" rows="5" id="comment" ng-model="atendimentoEspecial.descricaoPrivada" required></textarea>
                    </div>
                </div> 
            </div>
        </div>        
        <div class="row">	
            <div class="col-md-12">
                <div class="col-md-offset-7 pull-right">
                    <a type="button" href="#/AtendimentoEspecial/list" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>
                    <button type="submit" ng-click="salvar()" ng-disabled="(formAtendimentoEspecial.$invalid && !editando)" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                </div>
            </div>	
        </div>	
    </div>    
</form>