<form name="relatorioResumido" class="col-md-10 col-sm-10 col-lg-10 col-xs-10 pull-right" novalidate ng-init="init()">
    <div class="relatorioResumido formulario">
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#demo"><h3>Relatório Resumido<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></h3></div>
            <div id="demo" class="panel-body collapse in">
                <center> <h4>ATENDIMENTOS / TRANCAMENTOS - CANCELAMENTOS - TRANSFERENCIAS / PERMANENCIAS</h4></center>
                <div class="row">
                    <div class="col-md-6" style="padding-top: 80px;">                       
                        <table id="tabela1" class="table table-hover table-bordered">
                        </table>
                    </div>    
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div id="container" style="min-width: 500px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="pie" style="min-width: 500px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="pie1" style="min-width: 500px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    </div>
                </div>                
            </div>
            <div class="panel-heading" data-toggle="collapse" data-target="#demo2"><h3>Resumo motivo<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></h3></div>
            <div id="demo2" class="panel-body collapse in">
                <div class="col-md-6">
                    <table id="tabela2" class="table table-hover table-bordered">                        
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div id="pie2" style="min-width: 500px; height: 450px; max-width: 600px; margin: 0 auto; margin-top: 150px"></div>
                    </div>
                </div>
            </div>
            <div class="panel-heading" data-toggle="collapse" data-target="#demo3"><h3>Resumo motivo de permanência<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></h3></div>
            <div id="demo3" class="panel-body collapse in">
                <div class="col-md-6">
                    <table id="tabela3" class="table table-hover table-bordered">
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div id="pie3" style="min-width: 500px; height: 450px; max-width: 600px; margin: 0 auto; margin-top: 150px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>