<form name="relatorioResumido" class="col-md-10 col-sm-10 col-lg-10 col-xs-10 pull-right" novalidate ng-init="init()">
    <div class="relatorioResumido formulario" ng-init="init()">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Relatório Resumido<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-2 pull-right">
                            <div id="piechart"></div>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </div>
</form>