<form name="" novalidate ng-init="init()">
    <div class="container-fluid formulario">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro Perfil de Usuario {{nomeUsuario.nome}}</h3></div>
            <div class="panel-body">
                <div class="row col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading "><h4>Perfis de Acesso</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">

                                    <div class="form-group">
                                        <select class="form-control" ng-model="meuPerfil" ng-options="perfil.nomePerfil for perfil in perfis" ng-change="adicionarPerfil()">
                                            <option>{{perfil.nomePerfil}}</option>
                                        </select>
                                    </div>                                                        
                                </div> 
                                <div class="col-md-1">
                                    <a href="#/PerfilAcesso/list" type="button" class="tooltip, btn btn-primary" title="Lista dos Perfis de Acesso"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                                </div> 
                            </div>                            

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-0">
                                        <div class="form-group">
                                            <table class="tablel table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-10">Nome do Perfil</th>
                                                        <th class="col-md-1">Ação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="nomePerfil in nomePerfis">
                                                        <td>{{nomePerfil.nome}}</td>
                                                        <td><button type="button" class="btn btn-danger">Remover</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>    
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row col-md-6 teste">
                    <div class="panel panel-info">
                        <div class="panel-heading "><h4>Itens Avulsos</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-0">
                                        <div class="form-group">
                                            <select class="form-control" id="itensAcesso" ng-model="meuItem" ng-options="item.nomeItem for item in itens"> 
                                                <option>{{item.nomeItem}}</option>
                                            </select>
                                        </div>                       
                                    </div>                    
                                </div>                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-0">
                                        <div class="form-group">
                                            <table class="tablel table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-10">Nome do Item Avulso</th>
                                                        <th class="col-md-1">Condição</th>
                                                        <th class="col-md-1">Ação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="nomeItem in nomeItens">
                                                        <td>{{nomeItem.nome}}</td>
                                                        <td><button type="button" class="btn btn-success">Permitido</button></td>
                                                        <td><button type="button" class="btn btn-danger">Remover</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> 

            </div> 
            <div class="panel-info">
                <div class="teste2">
                    <a href="#/PerfilAcesso/list" type="button" class="tooltip, btn btn-danger" title="Cancelar">Cancelar</a>
                    <button type="submit" ng-click="salvar()" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>

                </div>
            </div>    
        </div>
    </div>   
</form>