<form name="perfilUsuario" class="pull-right col-md-10 col-sm-10 col-lg-10 col-xs-10" novalidate ng-init="init()">
    <div class="formulario">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro Perfil de Usuario {{nomeUsuario.nome}}</h3></div>
            <div class="panel-body">
                <div class="row col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading "><h4>Perfis de Acesso</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="perfilSelecionado" ng-options="perfil.nome for perfil in perfisDeAcesso" ng-change="adicionarPerfil()">
                                            <!--<option>{{perfil.nome}}</option>-->
                                        </select>
                                    </div>                                                        
                                </div> 
                                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                    <a href="#/PerfilAcesso/form" type="button" class="tooltip, btn btn-primary" title="Lista dos Perfis de Acesso"><i class="fa fa-plus-square-o fa-2x"></i></a>
                                </div> 
                            </div>                            

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-0">
                                        <div class="form-group">
                                            <table class="table table-striped table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-11">Nome do Perfil</th>
                                                        <th class="col-md-1">Ação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="perfil in perfisDeAcessoSelecionados">
                                                        <td>{{perfil.nome}}</td>
                                                        <td><button type="button" type="button" class="tooltip, btn btn-danger" title="Excluir"><i class="fa fa-trash-o fa-1x"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-6 teste">
                    <div class="panel panel-info">
                        <div class="panel-heading "><h4>Itens Avulsos</h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-0">
                                        <div class="form-group">
                                            <select class="form-control" id="itensAcesso" ng-model="meuItem" ng-options="item.nomeItem for item in itens"> 
                                                <option>{{item.nomeItem}}</option>
                                            </select>
                                        </div>                       
                                    </div>                    
                                </div>                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-offset-0">
                                        <div class="form-group">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-10">Nome do Item Avulso</th>
                                                        <th class="col-md-1">Condição</th>
                                                        <th class="col-md-1">Ação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="nomeItem in nomeItens">
                                                        <td>{{nomeItem.nome}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-success" ng-click="alterarStatus(nomeItem)"><i class="fa fa-thumbs-up"></i></button>
                                                            <button type="button" class="btn btn-danger" ng-click="alterarStatus(nomeItem)"><i class="fa fa-thumbs-down"></i></button>
                                                        </td>
                                                        <td><button type="button" class="tooltip, btn btn-danger" title="Excluir"><i class="fa fa-trash-o fa-1x"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> 
                <div class="panel-footer">
                    <div class="pull-right">
                        <a href="#/PerfilAcesso/list" type="button" class="tooltip, btn btn-danger" title="Cancelar">Cancelar</a>
                        <button type="submit" ng-click="salvar()" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                    </div>
                </div>    
            </div> 
        </div>
    </div>   
</form>