<form name="" novalidate ng-init="init()">
    <div class="container-fluid formulario">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro Perfil de Acesso</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-offset-2">
                            <h4>Nome do Perfil</h4>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-offset-2">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="novoPerfil.nome" placeholder="Nome do Perfil" />
                            </div>    
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Permissões</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-offset-2">
                            <h4>Itens de Acesso</h4>
                        </div>    
                    </div>    
                </div>    
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-offset-2">
                            <div class="form-group">
                                <select class="ac-select form-control" ac-model="itemAcessoSelecionado" ac-options="ia.descricao for ia in getItensAcesso()" 
                                        ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }" ac-change="selecionouItemAcesso(value)"></select>
                            </div>            

                        </div>                    
                    </div>                
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-offset-2">
                            <div class="form-group">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-10">Item de Acesso</th>
                                            <th class="col-md-1">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ia in data">
                                            <td>{{ia.descricao}}</td>
                                            <td><button type="button" class="btn btn-danger">Remover</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
        </div>      
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <a type="button" href="#/" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>
                    <button type="submit" ng-click="salvar()" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                </div>    
            </div>    
        </div>    

    </div>
</form>