<form name="formPerfilAcesso" novalidate ng-init="init()" >
    <div class="formulario pull-right col-md-10">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Lista de Perfil de Acesso<span class="glyphicon glyphicon-th-list pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="#/PerfilAcesso/form" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Adicionar novo Perfil de Acesso   ">Adicionar Novo</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="nome" ng-change="listar()" placeholder="Informe o dado a ser pesquisado" class="form-control" ng-model="pesquisa" ng-maxlength="100" />                        
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div>
                            <table class="table table-hover table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th ng-click="alterarOrdenacao('nome')" class="col-md-10">
                                            Nome
                                            <span class="glyphicon glyphicon-menu-up pull-left" aria-hidden="true" ng-show="ordenacaoCrescente && colunaOrdenacao === 'nome'"></span>
                                            <span class="glyphicon glyphicon-menu-down pull-left" aria-hidden="true" ng-show="!ordenacaoCrescente && colunaOrdenacao === 'nome'"></span>
                                        </th>
                                        <th class="col-md-2">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--dir-paginate="perfil in perfis | itemsPerPage: numeroItensPorPagina" total-items="totalRegistros" current-page="paginaAtual"-->
                                    <tr ng-repeat="perfil in perfis">
                                        <td>{{perfil.novoPerfil}}</td>
                                        <td>
                                            <span>
                                                <a href="#/PerfilAcesso/form/{{i.id}}" type="button" class="tooltip, btn btn-warning botaoEditar" title="Editar">Editar</a>
                                                <button type="button" class="tooltip, btn btn-danger botaoRemover" title="Remover">Remover</button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="alterarPagina()" template-url="view/usuario/paginacao.html"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>