<form name="" novalidate ng-init="init()" >


    <div class="container-fluid formulario">
        <div class="row titulo">
            <h2>Cadastro de Atendimento</h2>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Dados Básicos<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>
                            <h4>Protocolo</h4>
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>
                            <h4>Data</h4>
                        </label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Hora</h4>
                        </label>
                        <input type="time" class="form-control">
                    </div>
                </div>
            </div>

            <div class="panel-heading"><h3>Dados do Aluno<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body"> 
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>
                            <h4>Ra</h4>
                        </label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>
                            <h4>Aluno</h4>
                        </label>
                        <input type="text" placeholder="Informe o nome do aluno" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Curso</h4>
                        </label>
                        <input type="text" placeholder="Informe o curso do aluno" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Centro</h4>
                        </label>
                        <input type="text" placeholder="Informe o centro" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Série</h4>
                        </label>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Turno</h4>
                        </label>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Matutino</option>
                                <option>Noturno</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Bolsa</h4>
                        </label>
                        <input type="text" placeholder="Informe se o aluno possui bolsa" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Reprovações</h4>
                        </label>
                        <div class="form-group">
                              <input type="text" placeholder="Informe o número" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>
                            <h4>Matriculado</h4>
                        </label>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Instituição de Transferência</h4>
                        </label>
                        <input type="text" placeholder="Informe a instituição de transferência" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>
                            <h4>Coordenador / Diretor</h4>
                        </label>
                        <input type="text" placeholder="Informe o Coordenador / Diretor"class="form-control">
                    </div>
                </div>
            </div>

            <div class="panel-heading"><h3>Dados do Atendimento<span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body"> 
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>
                            <h4>Objetivo</h4>
                        </label>
                        <div class="form-group opcao">
                            <select class="form-control" id="sel1">
                                <option>Cancelamento</option>
                                <option>Permanência</option>
                                <option>Trancamento</option>
                                <option>Transferência</option>
                                <option>Transferência EAD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>
                            <h4>Motivo</h4>
                        </label>
                        <div class="form-group opcao">
                            <select class="form-control" id="sel1">
                                <option>Distância</option>
                                <option>Doença</option>
                                <option>Financeiro</option>
                                <option>Frequência</option>
                                <option>Gravidez</option>
                                <option>Mudança de cidade</option>
                                <option>Não identificação com o curso</option>
                                <option>Notas baixas</option>
                                <option>Outros</option>
                                <option>Trabalho</option>
                                <option>Transferência para outras IES</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>
                            <h4>Descrição resumida</h4>
                        </label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label>
                            <h4>Descrição detalhada</h4>
                        </label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>

                <div class="row">	
                    <div class="col-md-12">
                        <div class="col-md-offset-7 pull-right">
                            <a type="button" href="" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>
                            <button type="submit" ng-click="salvar()" ng-disabled="" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                        </div>
                    </div>	
                </div>	
            </div>
        </div>      
    </div>
</form>