/*div{
    margin-top: 0px;
}
body{
    margin: 15px;
}
h2{
    text-align: center;
    background-position: center;

}
.Pesquisa{
    margin-top: 15px;
}*/

.botaoAlterarStatus{
    width: 65px;
/*    max-height: 23px;
    padding-top: 1px;*/
}

.botaoEditar{
/*    max-height: 23px;
    padding-top: 1px;*/
}