<form name="formObjetivo" class="col-md-10 col-sm-10 col-lg-10 col-xs-10 pull-right" novalidate ng-init="init()" >
    <div class="formulario" style="margin-top: 30px;">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Cadastro de Objetivo<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <h4>Descrição</h4>
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-md-offset-4">
                            <div class="form-group" ng-class="{ 'has-error'  : formObjetivo.descricao.$invalid && !formObjetivo.descricao.$pristine}">
                                <input type="text" name="descricao" placeholder="Informe a descrição do objetivo" class="form-control" aria-describedby="basic-addon2" ng-model="objetivo.descricao" ng-minlength="2" ng-maxlength="60" required/>                        
                                <p ng-show="formObjetivo.descricao.$error.minlength" class="help-block">Descrição no mínimo 2 caracteres.</p>
                                <p ng-show="formObjetivo.descricao.$error.maxlength" class="help-block">Descrição no máximo 60 caracteres.</p>
                            </div>
                        </div>	
                    </div>
                </div>                                                
            </div>

            <div class="row">	
                <div class="col-md-9">
                    <div class="col-md-offset-7 pull-right">
                        <a type="button" href="#/AtendimentoDeixarOCurso/Objetivo/list" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Cancelar as alterações" >Cancelar</a>
                        
                        <button type="submit" ng-click="salvar()" ng-disabled="(formObjetivo.$invalid && !editando)" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Salvar as alterações" >Salvar</button>
                    </div>
                </div>	
            </div>	
        </div>
    </div>
</form>
